.custom_left_style {
font-size: 1000px;
background-color: black;
}

body {
    background-size:calc(1000px);
    background-color: rgb(46, 46, 46);
}

Div {
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgb(31, 31, 31);
}

.test2 {
    font-size: large;
}

.header_style {
    font-size: small;
}

.font_bar {
    margin-left: 10px;
}

