custom_left_style {
font-size: 1000px;
background-color: black;
}

body {
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-03/1646950084_1-abrakadabra-fun-p-pikselnii-fon-mainkraft-1.png");
    background-size:calc(1000px);
}
Div {
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgb(31, 31, 31);
}



.test2 {
    font-size: large;
}

.header_style {
    font-size: small;

}